@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/User.cshtml";
}

<div style="padding:20px 15px 30px 15px;">
        <h1><span>Messages</span> </h1>
<h3>From</h3><br />
<p><b>Received Message</b></p>
<br /><br /><br />
<h3>Reply</h3><br /><br />
<textarea ></textarea>
    <br /><br />
    <input type="submit" value="Send" />
    </div>