@{
    ViewBag.Title = "SoulMate-User-Projects";
    Layout = "~/Views/Shared/User.cshtml";
}

<div style="padding:20px 15px 30px 15px;">
        <h1><span>Our</span> Projects</h1>
        <div class="ourprojectrow">
          <h6 class="inner"> Project One</h6>
          <div> <img src="~/Images/projectimg1.jpg" alt="" width="210" height="139" class="project-img" /> <br />
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.
            <div class="clear"></div>
          </div>
          <br />
          <div style="font-weight:bold;"><img src="~/Images/arrow.png" alt="" width="16" height="16" border="0" /> <a href="http://www.free-css.com/" class="projects">View this project</a>
            <div class="clear"></div>
          </div>
        </div>
        <div class="ourprojectrow">
          <h6 class="inner">Project Two </h6>
          <div> <img src="~/Images/projectimg2.jpg" alt="" width="210" height="139" class="project-img" /> <br />
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. <br />
            <div class="clear"></div>
          </div>
          <br />
          <div style="font-weight:bold;"><img src="~/Images/arrow.png" alt="" width="16" height="16" border="0" /> <a href="http://www.free-css.com/" class="projects">View this project</a>
            <div class="clear"></div>
          </div>
        </div>
        <div class="ourprojectrow">
          <h6 class="inner">Project Three </h6>
          <div> <img src="~/Images/projectimg3.jpg" alt="" width="210" height="139" class="project-img" /> <br />
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.<br />
            <div class="clear"></div>
          </div>
          <br />
          <div style="font-weight:bold;"><img src="~/Images/arrow.png" alt="" width="16" height="16" border="0" /> <a href="http://www.free-css.com/" class="projects">View this project</a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <div class="footer_link">
          <ul>
            Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com">Website Templates</a>.
          </ul>
        </div>
      </div>
    </div>
  </div>
  <span class="right_shadow">&nbsp;</span> </div>
