@{
    ViewBag.Title = "SoulMate-Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:20px 15px 30px 15px;">
        <h1><span>Services </span>for you</h1>
        <div><strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. </strong> <br />
          <br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.<br />
          <br />
          Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="servicecolumnzone">
          <div class="servicecolumn1">
            <div>
              <h5 class="inner"> Service 1</h5>
              <img src="~/Images/ico1.png" alt="" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="servicecolumn2">
            <div>
              <h5 class="inner">Service 2</h5>
              <img src="~/Images/ico2.png" alt="" width="65" height="65" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="servicecolumn1">
            <div>
              <h5 class="inner">Service 3 </h5>
              <img src="~/Images/ico3.png" alt="" width="65" height="65" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="servicecolumn2">
            <div>
              <h5 class="inner">Service 4 </h5>
              <img src="~/Images/ico4.png" alt="" width="65" height="65" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="servicecolumn1">
            <div>
              <h5 class="inner">Service 5 </h5>
              <img src="~/Images/ico5.png" alt="" width="65" height="65" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="servicecolumn2">
            <div>
              <h5 class="inner">Service 6 </h5>
              <img src="~/Images/ico6.png" alt="" width="65" height="65" class="abouticon" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div style="padding-top:10px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</div>
      </div>
      <div class="clear"></div>
      <div id="footer">
        <div class="footer_link">
          <ul>
            Copyright (c) Sitename.com. All rights reserved. Design by Stylish <a href="http://www.stylishtemplate.com">Website Templates</a>.
          </ul>
        </div>
      </div>
    </div>
  </div>
  <span class="right_shadow">&nbsp;</span> </div>
